.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginForm {
  margin: auto;
  margin-top: 50mm;
  width: 50%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5mm;
  -webkit-box-shadow: 6px 11px 5px -4px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 6px 11px 5px -4px rgba(0, 0, 0, 0.24);
  box-shadow: 6px 11px 5px -4px rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.customLink {
  color: #fff;
}

.loginButton {
  margin-left: 0mm;
  flex-grow: initial;
}
.createList {
  margin: auto;
  margin-top: 50mm;
  width: 50%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5mm;
  -webkit-box-shadow: 6px 11px 5px -4px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 6px 11px 5px -4px rgba(0, 0, 0, 0.24);
  box-shadow: 6px 11px 5px -4px rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.gambaLogo {
  height: 20mm;
}

.navBar {
  color: #0d99fb;
}

.listBox {
  display: flex;
  align-items: stretch;
  
}
